.nav {
  flex-direction: row;
  flex-wrap: wrap;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  background-color: #726b80;
  float: center;
  
}

#navbar li {
  list-style: none;
  display: inline-block;
  padding: 20px 10px 10px 10px;
  
}

#navbar li a {
  text-decoration:none;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  
}





